body{
  background-color: antiquewhite;
}
:root{
  --heading-color: rgb(231, 74, 74);
}
#restaurants-div{
  margin-bottom: 50px;
  /* height: 100vh; */
}
/* card stylings Starts Here */
.card {
    position: relative;
    overflow: hidden;
    height: 400px;
    border-radius: 10px;
    border: none;
    transition: transform 0.2s;
    /* background-color: rgb(88, 87, 87);
    color: white; */
}
.card:hover{
  border: none;
  box-shadow: 1px 1px 15px rgba(197, 197, 197, 0.2);
  cursor: pointer;
  transform: scale(1.05);
}

.card img {
  height: 45%;
  border-radius: 15px;
  transition: all 0.3s ease;
  object-fit: cover;
}

.card .overlay {
position: absolute;
bottom: -100%;
left: 0;
width: 100%;
height: 55%;
background-color: rgba(0, 0, 0, 0.1);
color: white;
text-shadow: 1px 1px 14px rgb(43, 0, 255);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
/* transition: bottom 0.5s ease; */
}

.card:hover .overlay {
bottom: 50%;
}

.card:hover .card-img-top {
filter:blur(0.51px);
transform: scale(1.1);
}
.card-title{
    color : rgb(255, 127, 62);

}


/* Restaurant Content Starts Here */
.heading_text{
    color: var(--heading-color);
    margin: 9px 0px 9px 10px;
}
#view-details-icon{
  margin-left: 5px;
  padding: 3px;
  width:20px;
   height:20px;
    background-color:orange;
     border-radius:50%;
     display: inline;
     justify-content: center;
     align-items: center;
}

.card:hover #view-details-icon{
  border-radius: 50%;
}

/* Responsive Design */
@media (max-width: 993px) {
  .card{
      height:400px;
      width: 100%; /* Single column layout on smaller screens */

  }
}