{% extends "base_templates/base.html" %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block css %}
<!-- external css -->
<link rel="stylesheet" href="{% static './css/index.css' %}">
<!-- Resetting the default css -->
<style>
</style>
<!-- Resetted the default Css element values -->
{% endblock css %}


{% block body %}
            <div class="full-screen-background">
              <div class="left_main">
                  <h1>Welcome to Foodie Finder </h1>
                  <h2>Discover the Best Restaurants Near You</h2>
                  <h4>FoodieFinder helps you explore a variety of dining options around your location. Whether you're craving local delicacies, exotic cuisines, or simply a cozy cafe, our platform makes it easy to find the perfect spot.</h4>
              </div>
              <div class="right_main" >
                <!-- <h1>Welcome to My Website</h1> -->
                <form id="locationForm" method="POST" action="{% url 'restaurant_list' %}">
                  {% csrf_token %}
                  <input type="hidden" id="latitudeDisplay" name="latitude">
                  <input type="hidden" id="longitudeDisplay" name="longitude">

                  <!-- id-> city1 updates the value using javascript -->
                  <p id="city1"></p>
                  
                  <label for="radius" style="color:white">Radius (km):</label>
                  <input type="number" id="radius" name="radius" required placeholder="Enter Kilometer">
                  
                  <button type="submit" onclick="fetchUserLocation()"><i class="fa-brands fa-cloudflare "></i>Find Restaurants</button>

              </form>
                  <!-- <button class="search-nearby-btn mt-3" onclick="fetchUserLocation()"> -->
                  <!-- <p class="location_get_text" >Find Restaurants </p> -->
                  </button>
                  <input type="hidden" name="latitude" id="latitudeDisplay">
                  <input type="hidden" name="longitude" id="longitudeDisplay">
                  
                  <!-- <p>Latitude: <span id="latitudeDisplay"></span></p>
                  <p>Longitude: <span id="longitudeDisplay"></span></p> -->
                  <!-- <p>Your Location: <span id="city"></span></p> -->

                 </form>

            </div>
          </div>

<!-- Restaurant Content Starts Here -->
{% if restaurants %}
          <h1 class="heading_text" >Displaying Restaurants</h1>
          <div class="container-fluid">
            <div class="row">
                {% for restaurant in restaurants %}
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
                        <div class="card">
                          <a href="{% url 'restaurant_detail' restaurant.id %}" ></a>

                          {% if restaurant.images.all %}
                          <img src="{{ restaurant.images.all.0.image.url }}" class="card-img-top" alt="{{ restaurant.name }}">
                          {% else %}
                          <!-- is the restaurant is not present it will show the default image of the hotel -->
                          <img src="{% static 'images/main.jpg' %}" class="card-img-top" alt="Default Image">
                          {% endif %}
                          <div class="overlay">
                            <h2>{{ restaurant.restaurant_style }}</h2>
                          </div>

                            <div class="card-body">
                                <h5 class="card-title">{{ restaurant.name }}</h5>
                                <!-- Add more details about the restaurant if needed -->
                                 <span class="text-success fw-bold" >Opening Hours <b style="color: black;">{{ restaurant.opening_hours }}</b></span><br>
                                 <a href="{{ restaurant.google_map_link }}" target="_blank" class="btn btn-primary mt-2">View on Map</a>
                                 <a href="{% url 'restaurant_detail' restaurant.id %}" class="btn btn-primary">View Details</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <p>Present No restaurants available At this moment! Try with More Kilometers.</p>
        {% endif %}
        


      


<!-- Accordion Frequently Asked Questions-->
 <h3>Frequently Asked Questions</h3>
 <div class="accordion" id="accordionExample">
     <div class="accordion-item">
       <h2 class="accordion-header">
         <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           How do I find restaurants near my current location?
         </button>
       </h2>
       <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
         <div class="accordion-body">
           <p>To find restaurants near your current location, simply allow location access when prompted by your browser. Our website uses this information to display a list of nearby restaurants.</p>
         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Are the restaurant details and reviews updated regularly?
         </button>
       </h2>
       <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
         <div class="accordion-body">
           <strong>Yes</strong> ,we strive to keep all restaurant information and reviews as current as possible. Our team regularly updates the details, and we encourage users to submit their reviews and feedback. If you notice any outdated or incorrect information, please let us know, and we will update it promptly.
         </div>
       </div>
     </div>
     <div class="accordion-item">
       <h2 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Accordion Item #3
         </button>
       </h2>
       <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
         <div class="accordion-body">
           <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
         </div>
       </div>
     </div>
   </div>
 

          </div>


          <script>
           // Function to fetch user location
            // Call getLocation when the page loads
        window.onload = fetchUserLocation;
           
function fetchUserLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError, {
            enableHighAccuracy: true,
            timeout: 10000,
            maximumAge: 0
        });
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}

// Success callback function for fetching location
function showPosition(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;

    console.log(latitude)
    console.log(longitude)
 

 
            // Set the values of hidden fields
            document.getElementById('latitudeDisplay').value = latitude;
            document.getElementById('longitudeDisplay').value = longitude;

    // Call the function to get the city name
    getCityName(latitude, longitude);
}

// Error callback function for fetching location
function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            alert("User denied the request for Geolocation.");
            break;
        case error.POSITION_UNAVAILABLE:
            alert("Location information is unavailable.");
            break;
        case error.TIMEOUT:
            alert("The request to get user location timed out.");
            break;
        case error.UNKNOWN_ERROR:
            alert("An unknown error occurred.");
            break;
    }
}

// Add event listener to the button
document.querySelector('.search-nearby-btn').addEventListener('click', function(event) {
    event.preventDefault();
    fetchUserLocation();
});


// Getting City name using nominatim Open street API
async function getCityName(latitude, longitude) {
            const url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${latitude}&lon=${longitude}&addressdetails=1`;
            try {
                const response = await fetch(url);
                const data = await response.json();
                const city = data.address.city || data.address.town || data.address.village || "City not found";

                document.getElementById("city").textContent = city;
                // document.getElementById("city1").textContent = `Displaying Restaurants in ${city}`;
                document.getElementById("city1").textContent = `Your Location : ${city}`;
            } catch (error) {
                console.error("Error fetching city name:", error);
            }
        }
        
        </script>

{% endblock body %}