{% extends "base_templates/base.html" %}
{% load static %}

{% block title %}{{ menu.menu_name }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/menu_detail.css' %}">
<style>

.rating-star {
    color: green; /* Default color for stars */
    font-size: 20px; /* Adjust as needed */
}

</style>
{% endblock css %}

{% block body %}
<div class="container menu-container">
    <!-- <h1 class="my-4">{{ menu.menu_name }}</h1> -->
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <img src="{{ menu.menu_image.url }}" class="img-fluid menu-image fixed-size-image" alt="{{ menu.name }}">
                <div class="image-overlay">
                    <h3> {{menu.restaurant}} | <small>{{ menu.menu_name }}</small></h3>
                    <p>{{ menu.description }}</p>
                </div>
            </div>

        </div>

        
        
        <div class="col-md-6">
            <h1 class="my-4">{{ menu.menu_name }}</h1>
            <div class="menu-details">
                <h3>Amount: &#8377; {{ menu.amount }}</h3>
                <p><strong>Details:</strong> {{ menu.related_menu_details }}</p>
                <p><strong>Ratings:</strong>
                    {% if menu.ratings == 1 %}
                        <span class="rating-star">&#9733;&#9734;&#9734;&#9734;&#9734;</span>
                    {% elif menu.ratings == 2 %}
                        <span class="rating-star">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
                    {% elif menu.ratings == 3 %}
                        <span class="rating-star">&#9733;&#9733;&#9733;&#9734;&#9734;</span>
                    {% elif menu.ratings == 4 %}
                        <span class="rating-star">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                    {% elif menu.ratings == 5 %}
                        <span class="rating-star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                    {% endif %}
                </p>
                <p><strong>Ingredients:</strong> {{ menu.ingredients }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}
<script src="{% static 'js/location.js' %}"></script>
{% endblock script %}