{% extends "base_templates/base.html" %}
{% load static %}

{% block title %}{{ menu.menu_name }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/menu_detail.css' %}">
<style>

.rating-star {
    color: green; /* Default color for stars */
    font-size: 20px; /* Adjust as needed */
}
/* CSS for hiding full review text by default */
.hidden {
    display: none;
}


</style>
{% endblock css %}

{% block body %}
<div class="container menu-container">
    <!-- <h1 class="my-4">{{ menu.menu_name }}</h1> -->
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <img src="{{ menu.menu_image.url }}" class="img-fluid menu-image fixed-size-image" alt="{{ menu.name }}">
                <div class="image-overlay">
                    <h3> {{menu.restaurant}} | <small>{{ menu.menu_name }}</small></h3>
                    <p>{{ menu.description }}</p>
                </div>
            </div>

        </div>

        
        
        <div class="col-md-6">
            <h1 class="my-4">{{ menu.menu_name }}</h1>
            <div class="menu-details">
                <h3>Amount: &#8377; {{ menu.amount }}</h3>
                <p><strong>Details:</strong> {{ menu.related_menu_details }}</p>
                <p><strong>Ratings:</strong>
                    {% if menu.ratings == 1 %}
                        <span class="rating-star">&#9733;&#9734;&#9734;&#9734;&#9734;</span>
                    {% elif menu.ratings == 2 %}
                        <span class="rating-star">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
                    {% elif menu.ratings == 3 %}
                        <span class="rating-star">&#9733;&#9733;&#9733;&#9734;&#9734;</span>
                    {% elif menu.ratings == 4 %}
                        <span class="rating-star">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                    {% elif menu.ratings == 5 %}
                        <span class="rating-star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                    {% endif %}
                </p>
                <p><strong>Ingredients:</strong> {{ menu.ingredients }}</p>
            </div>
        </div>
    </div>
</div>
<hr>

<h2>Leave a Review about {{ menu.menu_name }}</h2>
<form method="post" action=" ">
    {% csrf_token %}
    <input type="hidden" name="menu_id" value="{{ menu.id }}" >
    <!-- <label for="user_name">Your Name:</label> -->
    <input type="text" id="user_name" name="user_name" required placeholder="Enter Your Name">
    <!-- <label for="rating">Rating:</label> -->
    <select id="rating" name="rating" required>
        <option value="">Select Your Ratings</option>
        <option value="1">😞 Poor</option>
        <option value="2">😕 Fair</option>
        <option value="3">😐 Average</option>
        <option value="4">😊 Good</option>
        <option value="5">😄 Excellent</option>
    </select>
    <!-- <label for="review_text">Review:</label> -->
    <textarea id="review_text" name="review_text" rows="4" required placeholder=" Write a Review about {{ menu.menu_name }}"></textarea>

    <button type="submit" onclick="validateForm()" >Submit Review</button>
</form>


<div class="reviews-container">
    <h1>Discover What Our Customers Say about {{ menu.menu_name }}</h1>
    {% if menureviews %}
    <div class="reviews-row">
        {% for review in menureviews %}
        <div class="review">
            <div class="review-header">
                <h2>{{ review.user_name }}</h2>
                <p class="review-date">Reviewed on: {{ review.created_at|date:"F d, Y H:i" }}</p>
            </div>
            <div class="review-body">
                <div class="rating">
                    <span>Ratings : {{ review.rating }}</span>

                    {% if review.rating == 1 %}
                    <span class="rating-star" style="color: #ff0000;">&#9733;</span>
                    <span class="rating-star-black">&#9734;&#9734;&#9734;&#9734;</span>
                    {% elif review.rating == 2 %}
                    <span class="rating-star" style="color: #e74c3c;">&#9733;&#9733;</span>
                    <span class="rating-star-black">&#9734;&#9734;&#9734;</span>
                    {% elif review.rating == 3 %}
                    <span class="rating-star" style="color: #f39c12;">&#9733;&#9733;&#9733;</span>
                    <span class="rating-star-black">&#9734;&#9734;</span>
                    {% elif review.rating == 4 %}
                    <span class="rating-star" style="color: #f39c12;">&#9733;&#9733;&#9733;&#9733;</span>
                    <span class="rating-star-black">&#9734;</span>
                    {% elif review.rating == 5 %}
                    <span class="rating-star" style="color: green;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                    {% endif %}
                </div>
                <p class="review-text">{{ review.review_text }}</p>
                <!-- Hidden full review text initially -->
                <p class="review-text-full hidden">{{ review.review_text }}</p>
                <!-- Read more link -->
                <span class="read-more" onclick="toggleReview(this)">Read More</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Current No reviews available for <strong>{{ menu.menu_name }}</strong> .</p>
    {% endif %}
</div>
{% endblock body %}

{% block script %}
<script src="{% static './js/location.js' %}"></script>
<script>
                 

                    function toggleReview(element) {
                    var reviewBody = element.parentNode.querySelector('.review-text');
                    var fullReview = element.parentNode.querySelector('.review-text-full');
                    
                    if (reviewBody.style.display === 'none' || reviewBody.style.display === '') {
                        reviewBody.style.display = 'block';
                        fullReview.classList.add('hidden');
                        element.textContent = 'Read More';
                    } else {
                        reviewBody.style.display = 'none';
                        fullReview.classList.remove('hidden');
                        element.textContent = 'Read Less';
                    }
                }

                //Form validation
                function validateForm() {
    var userName = document.getElementById('user_name').value;
    var rating = document.getElementById('rating').value;
    var reviewText = document.getElementById('review_text').value;

    if (userName.trim() === '' || rating === '' || reviewText.trim() === '') {
        alert('Please fill out all fields.');
        event.preventDefault(); // Prevent form submission
    }
    else{
        var userName = document.getElementById('user_name').value;
                
                        // Define your alert message
                        var alertMessage = " Your Review has been  Submitted SuccessFully "
            
                        // Alert the message with the user's name
                        alert(" Thanks " + userName + alertMessage);

    }
}
</script>
{% endblock script %}