{% extends 'base_templates/base.html' %}

<title>{% block title %} {{restaurant.name}} {% endblock title %}</title>

{% block favicon %}
{% endblock favicon %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/restaurant_details.css' %}">

<style>
    #map {
        width: 100%;
        height: 500px;
        border: 0;
    }

    .rating-star {
        color: green;
        /* Default color for stars */
        font-size: 20px;
        /* Adjust as needed */
    }
</style>

{% endblock css %}


{% block body %}

<div class="container-fluid">
    <div class="main_heading">
        <div class="left-content">
            <h1>{{ restaurant.name }} </h1><span> {{ restaurant.address }}</span>
            <!-- Website Stylings -->
            <div class="website-div">
                <i class="fa-solid fa-laptop-code" id="website"></i><a href="{{ restaurant.website_link }}"
                    target="_blank">Website</a>
            </div>
        </div>
        <div class="right-content">
            <!-- <p>Opening Hours :</p> <span> {{ restaurant.opening_hours }}</span> -->
        </div>
    </div>
    <div class="sub_heading">
        <!-- Mobile Phone /Calling Section -->
        <div class="info-block">
            <i class="fa-sharp fa-solid fa-phone" style="color: #1b0aff;" id="mobile_number"></i>
            <a href="tel:+91{{ restaurant.contact_number }}" target="_blank"
                id="mobile_number_a">{{restaurant.contact_number }}</a>
        </div>
        <!-- Map Section -->
        <div class="info-block">

            <i class="fa-regular fa-map" style="color: #ff0000;" id="map_section"></i>
            <a href="{{ restaurant.google_map_link }}" target="_blank" id="map_section_a">Show Directions In Maps</a>
        </div>
        <!-- Restaurant type Section -->
        <div class="info-block">
            <p id="restaurant_type">| {{ restaurant.restaurant_style }} Restaurant</p>
        </div>
        <!-- Opening Hours Section -->
        <div class="info-block">
            <p id="opening_hours">| Opening Hours :</p>
            <span>{{ restaurant.opening_hours }}</span>
        </div>
    </div>


    <!-- Images Container -->
    <!--
    <div class="images-container">
         Main Image (First Image) --
        <div class="main-image">
            {% if restaurant.images.all %}
            <img src="{{ restaurant.images.all.0.image.url }}" alt="{{ restaurant.name }}">
            {% else %}
            <p>No images available</p>
            {% endif %}
        </div>

        <!-- Side Images (Next Two Images) --
        <div class="side-images">
            {% for image in restaurant.images.all %}
            {% if forloop.counter > 1 and forloop.counter <= 3 %} <img src="{{ image.image.url }}"
                alt="{{ restaurant.name }}">
                {% endif %}
                {% endfor %}
        </div>
    </div>

-->

<div class="images-container">
    <!-- Main Image (First Image) -->
    <div class="main-image">
        {% if restaurant.images.all %}
            <img src="{{ restaurant.images.all.0.image.url }}" alt="{{ restaurant.name }}" onclick="openModal(0)">
        {% else %}
            <p>No images available</p>
        {% endif %}
    </div>

    <!-- Side Images (Next Two Images) -->
    <div class="side-images">
        {% for image in restaurant.images.all %}
            {% if forloop.counter > 1 and forloop.counter <= 3 %}
                <img src="{{ image.image.url }}" alt="{{ restaurant.name }}" onclick="openModal({{ forloop.counter0 }})">
            {% endif %}
        {% endfor %}
    </div>
</div>





    <!-- <a href="{% url 'restaurant_list' %}" class="back-to-hotels-btn">Back to Hotels</a> -->
    <!-- Example: Button to Get Directions -->
    <div class="directions-reserve-table">
        <a href="{{ restaurant.google_map_link }}" target="_blank" id="get-directions-button">
            <i class="fa-solid fa-route" style="color: #ff0000;"></i> Get Directions
        </a>
        <a id="reserve-button" href="#">Reserve Table</a>
        <!-- Link to scroll to the form -->
        <a id="write-a-review-button" href="#review-form">Write a Review</a>
    </div>





    <!-- Menu section starts from here -->
    <div class="container-fluid menu-div">
        <div id="menu-div-filter">

            <h3 style="margin: 10px; padding: 10px; font-weight: bold;">Displaying Menu</h3>

            <!-- Filter Form -->
            <form method="GET" action="{% url 'restaurant_detail' pk=restaurant.pk %}" id="filter-form">
                <div class="range-slider">
                    <label for="max_amount">Max Amount: <span id="max_amount_value">{{request.GET.max_amount|default:1000 }}</span></label>
                    <input type="range" id="max_amount" name="max_amount" min="50" max="2000"value="{{ request.GET.max_amount|default:1000 }}" step="50"
                        oninput="updateMaxValue(this.value)">
                </div>

                <button type="submit" class="filter-button bg-primary">Filter</button>
            </form>

        </div>
        <div class="row">
            {% for menu in menus %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
                <div class="card">
                    <div class="card-img-container">
                        <img src="{{ menu.menu_image.url }}" class="card-img-top fixed-size-image"
                            alt="{{ menu.name }}">
                    </div>




                    <div class="card-body">
                        <h5 class="card-title fw-bold" style="color: #4C3BCF;">{{ menu.menu_name }}</h5>
                        <p class="card-text"><strong>Amount: &#8377;</strong> {{ menu.amount }}</p>
                        <p><strong>Ratings:</strong>
                            {% if menu.ratings == 1 %}
                            <span class="rating-star">&#9733;&#9734;&#9734;&#9734;&#9734;</span>
                            {% elif menu.ratings == 2 %}
                            <span class="rating-star">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
                            {% elif menu.ratings == 3 %}
                            <span class="rating-star">&#9733;&#9733;&#9733;&#9734;&#9734;</span>
                            {% elif menu.ratings == 4 %}
                            <span class="rating-star">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                            {% elif menu.ratings == 5 %}
                            <span class="rating-star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                            {% endif %}
                        </p>
                        <a href="{% url 'menu_detail' menu.id %}" class="btn btn-primary mt-auto">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>

    <!-- Alert message -->
    <!-- Bootstrap alert and review form heading -->
    <div id="review-form-heading-div">
        <div id="review-heading-section">
            <div id="review-heading">
                <h4>Share something about {{ restaurant.name }}</h4>
            </div>
        </div>
        <!-- <div id="review-popup-bootstrap">
            {% if alert_message %}
            <div class="alert custom-alert alert-dismissible fade show" role="alert">
                {{ alert_message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </div> -->

    </div>



    <!-- Review form -->
    <div id="review-form">

        <form class="review-form" method="post" action=" ">
            <!--here action is empyt becuease it is doing the process in the same page-->
            {% csrf_token %}
            <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
            <input type="text" id="user_name" name="user_name" placeholder="Enter Your Name" required><br>
            <h5>Write a Review about {{restaurant.name}}</h5>
            <textarea name="review_text" placeholder="Write a  Review about {{ restaurant.name }}" rows="4" required>
            </textarea><br>

            <!-- Select dropdown for rating -->
            <select name="rating" required>
                <option value="">Select Rating (1-5)</option>
                <option value="1">1 - Poor</option>
                <option value="2">2 - Fair</option>
                <option value="3">3 - Average</option>
                <option value="4">4 - Good</option>
                <option value="5">5 - Excellent</option>
            </select><br>

            <button type="submit" onclick="formSubmitted()" class="btn btn-primary">Submit Review</button>
        </form>
    </div>
    <div class="reviews-container">
        <h1>Discover What Our Customers Say about {{ restaurant.name }}</h1>
        {% if reviews %}
        <div class="reviews-row">
            {% for review in reviews %}
            <div class="review">
                <div class="review-header">
                    <h2>{{ review.user_name }}</h2>
                    <p class="review-date">Reviewed on: {{ review.created_at|date:"F d, Y H:i" }}</p>
                </div>
                <div class="review-body">
                    <div class="rating">
                        <span>Ratings : {{ review.rating }}</span>

                        {% if review.rating == 1 %}
                        <span class="rating-star" style="color: #ff0000;">&#9733;</span>
                        <span class="rating-star-black">&#9734;&#9734;&#9734;&#9734;</span>
                        {% elif review.rating == 2 %}
                        <span class="rating-star" style="color: #e74c3c;">&#9733;&#9733;</span>
                        <span class="rating-star-black">&#9734;&#9734;&#9734;</span>
                        {% elif review.rating == 3 %}
                        <span class="rating-star" style="color: #f39c12;">&#9733;&#9733;&#9733;</span>
                        <span class="rating-star-black">&#9734;&#9734;</span>
                        {% elif review.rating == 4 %}
                        <span class="rating-star" style="color: #f39c12;">&#9733;&#9733;&#9733;&#9733;</span>
                        <span class="rating-star-black">&#9734;</span>
                        {% elif review.rating == 5 %}
                        <span class="rating-star" style="color: green;">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                        {% endif %}
                    </div>
                    <p class="review-text">{{ review.review_text }}</p>
                    <span class="read-more">Read More</span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Current No reviews available for {{ restaurant.name }}.</p>
        {% endif %}
    </div>




    <!-- <h2>Embedded Map Example</h2> -->
    <div id="map" style=" box-shadow: 1px 1px 15px rgb(0, 132, 255); width: 80%; margin : 0 auto;">
        <!-- <iframe
        width= 100%
        height="450"
        frameborder="0"
        style="border:0"
        src="https://www.openstreetmap.org/export/embed.html?bbox={{ restaurant.longitude }}%2C{{ restaurant.latitude }}%2C{{ restaurant.longitude }}%2C{{ restaurant.latitude }}&layer=mapnik"
        allowfullscreen>
    </iframe> -->
        <iframe width="600" height="450" frameborder="0" style="border:0" src="{{ restaurant.google_map_link }}"
            allowfullscreen>
        </iframe>

    </div>





    {% endblock body %}



    <!-- Adding External Script files -->
    {% block script %}
    <script src="{% static 'js/location.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const readMoreButtons = document.querySelectorAll('.read-more');
            readMoreButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const reviewText = this.previousElementSibling;
                    reviewText.classList.toggle('expanded');
                    this.textContent = reviewText.classList.contains('expanded') ? 'Read Less' : 'Read More';
                });
            });
        });
        function formSubmitted() {
            var userName = document.getElementById('user_name').value;

            // Define your alert message
            var alertMessage = " {{ alert_message }} "

            // Alert the message with the user's name
            alert(" Thanks " + userName + alertMessage);
        }

    </script>

    <script>
        function updateMaxValue(value) {
            document.getElementById('max_amount_value').textContent = value;
        }

        
    </script>

    {% endblock script %}