
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {% block css %}

    <style>
        .footer {
            background-color: #03045e;
            color: white;
            text-align: center;
            padding: 20px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        .footer .social-icons {
            margin: 10px 0;
        }

        .footer .social-icons a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
            font-size: 20px;
        }

        .footer .links {
            margin: 20px 0;
        }

        .footer .links a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
        }

        .footer p {
            margin: 5px 0;
        }
    </style>
        {% endblock css %}
        {% block body %}

    <!-- Footer Section -->
    <footer class="footer">
        <div class="social-icons">
            <a href="https://www.facebook.com/YourPage" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com/YourPage" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/YourPage" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/YourPage" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="links">
            <a href="#">Terms and Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>
        <p>&copy; 2024 Food!e Finder. All rights reserved.</p>
    </footer>
    {% endblock body %}


