<!-- Note Write your styings in webvoid_restaurant/static/css/navbar.css -->
<!-- Apply Bootstrap stylings if needed -->


{% load static %}
<!-- external css linked here -->
<link rel="stylesheet" href="{% static './css/navbar.css' %}">
<style>
          

</style>

<header>
     <nav>
            <!-- Write down your navigation bar code here -->

     </nav>

    <!-- <h1 class="navbar-test">Navbar section Testing</h1> -->
    <!-- <h2 class="p-5 bg-success navbar-test">Bootstrap Tested in Navbar Page</h2> -->
</header>

<!-- Uncomment this if needed -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand  fw-bold" href="{% url 'index' %}" id="company_name">Food!e Finder </a><i class="fa-solid fa-location-dot" style="color: #ec0404;"></i> <span id="city"> </span>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><i class="fa-solid fa-house"></i>Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-question" style="color: #ff000d; font-size: 18px; margin-right: 8px;"></i>Raise a complaint</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  
